.change-list .filtered table, .change-list .filtered .paginator,
.filtered #toolbar, .filtered div.xfull {
    margin-right: 10px !important;
    width: 10px !important;
}
th.field-source {
  width: 10000000px;
}
