{% extends "admin/steph_admin/change_list_custom.html" %} {% block content %}
<ul class="navbar-nav bd-navbar-nav flex-row" style="margin-bottom: 10px">
  <li class="nav-item">
    <a class="btn btn-info btn-sm" href=".?q=naver.com" style="padding:6px 12px;">naver.com</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-info btn-sm" href=".?q=daum.net" style="margin-left: 10px; padding:6px 12px;">daum.net</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-info btn-sm" href=".?q=youtube.com" style="margin-left: 10px; padding:6px 12px;">youtube.com</a>
  </li>
</div>
{{ block.super }}
{% load staticfiles%}
<script type="text/javascript" src="{% static 'admin/js/curry_vods.js' %}"></script>
{% endblock %}
