{% extends "admin/change_list.html" %} {% block extrahead %} {{ block.super }}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://static.swips.co/content/static/css/jquery.magicsearch.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://static.swips.co/content/static/css/jquery.autocomplete.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src='http://static.swips.co/content/static/js/jquery.autocomplete.js'></script>
<script>

  window.onload = function() {
    for (var i = 0; i < document.getElementsByClassName("vIntegerField").length; i++) {
      document.getElementsByClassName("vIntegerField")[i].style.width = "50px";
    }
    for (var i = 0; i < document.getElementsByClassName("field-following_desc_").length; i++) {
      document.getElementsByClassName("field-following_desc_")[i].style.width = "100px";
    }
    for (var i = 0; i < document.getElementsByClassName("field-title_").length; i++) {
      document.getElementsByClassName("field-title_")[i].style.width = "100px";
    }

  }


</script>
{% endblock %} {% block content %} {{ block.super }}
<div class="container">
  <!-- Modal delete following-->
  <div class="modal fade" id="del_following" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">팔로잉 삭제</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="del_following_body">
        팔로잉을 삭제합니당
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" >&times;</button>
          <h4 class="modal-title">팔로잉 수정</h4>
        </div>
        <div class="modal-body">
          <!--
          <form>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 2</label>
            </div>
            <div class="checkbox disabled">
              <label><input type="checkbox" value="" disabled>Option 3</label>
            </div>
          </form>
        -->
          <table>
            <tbody>
              <tr>
                <th>
                  <p>선수 팔로잉  </p>
                </th>
                <th>
                  <input type="text" id="tags1" class="tag_target"></input>
                </th>
                <th>
                  <input type="text" id="tags2" class="tag_target" ></input>
                </th>
                <th>
                  <input type="text" id="tags3" class="tag_target" ></input>
                </th>
              </tr>
              <tr>
                <th>
                  <p>팀 팔로잉  </p>
                </th>
                <th>
                  <input type="text" id="tags4" class="tag_target" ></input>
                </th>
                <th>
                  <input type="text" id="tags5" class="tag_target" ></input>
                </th>
                <th>
                  <input type="text" id="tags6" class="tag_target" ></input>
                </th>
              </tr>
              <tr>
                <th>
                  <p>리그 팔로잉  </p>
                </th>
                <th>
                  <input type="text" id="tags7"  class="tag_target"></input>
                </th>
                <th>
                  <input type="text" id="tags8"  class="tag_target"></input>
                </th>
                <th>
                  <input type="text" id="tags9"  class="tag_target"></input>
                </th>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <spant id="following_lists"><span>
          <button type="button" class="btn btn-default" data-dismiss="modal">추가</button>
        </div>
      </div>

    </div>
  </div>

</div>
{% block bottom %}<script>
var player;
var team;
var league;
var player_source = new Array();
var team_source = new Array();
var league_source = new Array();
$('.following_del').on("click",function(){
  var following =  $(this).attr("following");

  $('#del_following_body').text(following + ' 을(를) 삭제합니다');
  //post code
})
$('#myModal').on('hidden.bs.modal', function () {
    console.log('here');
    $("#tags1").val("");
    $("#tags2").val("");
    $("#tags3").val("");
    $("#tags4").val("");
    $("#tags5").val("");
    $("#tags6").val("");
    $("#tags7").val("");
    $("#tags8").val("");
    $("#tags9").val("");
});
$('#myModal').on('show.bs.modal', function (e) {
  // $('#tag1').magicsearch({
  //
  //   dataSource: player_source,
  //   fields: ['firstName', 'lastName'],
  //
  //   id: 'id',
  //   format: '%firstName% · %lastName%',
  //   focusShow: true
  // });
  $(function() {
    $("#tags1").autocomplete({
      source:[player]
    });
  });
  $(function() {
    $("#tags2").autocomplete({
      source:[player]
    });
  });
  $(function() {
    $("#tags3").autocomplete({
      source:[player]
    });
  });
  $(function() {
    $("#tags4").autocomplete({
      source:[team]
    });
  });
  $(function() {
    $("#tags5").autocomplete({
      source:[team]
    });
  });
  $(function() {
    $("#tags6").autocomplete({
      source:[team]
    });
  });
  $(function() {
    $("#tags7").autocomplete({
      source:[league]
    });
  });
  $(function() {
    $("#tags8").autocomplete({
      source:[league]
    });
  });
  $(function() {
    $("#tags9").autocomplete({
      source:[league]
    });
  });
});

$(document).ready(function(){
      $.ajax({
          type : "GET",
          url : "http://127.0.0.1:8000/steph_admin/followings/",
          dataType : "text",
          error : function(){
              //alert('통신실패!!');
          },
          success : function(data){
              //alert("통신데이터 값 : " + data) ;
              console.log(data);
              player = JSON.parse(data)['players'];
              team = JSON.parse(data)['teams'];
              league = JSON.parse(data)['leagues'];
              console.log('player:'+player);
              console.log('Tag added !');
          }

      });


  });
</script>{% endblock %}
{% endblock %}
