{% extends "admin/steph_admin/change_list_custom.html" %} {% block extrahead %} {{ block.super }}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://static.swips.co/content/static/css/jquery.magicsearch.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://static.swips.co/content/static/css/jquery.autocomplete.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src='http://static.swips.co/content/static/js/jquery.autocomplete.js'></script>

{% endblock %} {% block content %} {{ block.super }}
{% load staticfiles%}
<script type="text/javascript" src="{% static 'admin/js/curry_vods.js' %}"></script>
{% endblock %}
