<div class="row " id="swips_menu">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">피드
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li> <a href="/admin_v2/feeds/curryvod/"><strong>VOD</strong></a></li>
            <li> <a href="/admin_v2/feeds/currynews/"><strong>뉴스</strong></a></li>
            <li><a href="/admin_v2/feeds/swipscrawlingsource/"><strong>크롤링 소스 리스트</strong></a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">리그팀선수
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin_v2/league_team_player/swipsleagueinfo/"><strong>리그</strong></a></li>
            <li><a href="/admin_v2/league_team_player/swipsplayerinfo/"><strong>선수</strong></a></li>
            <li><a href="/admin_v2/league_team_player/swipsteaminfo/"><strong>팀</strong></a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">경기/중계
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin_v2/event/event/">경기</a></li>
            <li><a href="/admin_v2/event/currymajorfixtures/">주요경기조회</a></li>
            <li><a href="/admin_v2/event/curryfixturesinfo/">중계정보입력</a></li>
            <li><a href="/admin_v2/event/swipsfixturesinfo/">중계정보조회</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">프리뷰/리뷰
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin_v2/preview_review/swipsratingproperty/"><strong>리뷰 MOM(raw)</strong></a></li>
            <li><a href="/admin_v2/preview_review/swipsrating/"><strong>리뷰 Rating(raw)</strong></a></li>
            <li><a href="/admin_v2/preview_review/swipsreview/"><strong>리뷰(raw)</strong></a></li>
            <li><a href="/admin_v2/preview_review/worldpeacepreview/"><strong>웹 프리뷰</strong></a></li>
            <li><a href="/admin_v2/preview_review/wpfixtures/"><strong>인앱 프리뷰 Fixtures(raw)</strong></a></li>
            <li><a href="/admin_v2/preview_review/wptransfer/"><strong>인앱 프리뷰 이적(raw)</strong></a></li>
            <li><a href="/admin_v2/preview_review/wpkeypl/"><strong>인앱 프리뷰 키플레이어(raw)</strong></a></li>
            <li><a href="/admin_v2/preview_review/wptoppl/"><strong>인앱 프리뷰 탑플레이어(raw)</strong></a></li>
            <li><a href="/admin_v2/preview_review/wpteamstat/"><strong>인앱 프리뷰 팀 스탯(raw)</strong></a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">이적
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin_v2/transfer/swipstransfer/"><strong>이적</strong></a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">라인업
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin_v2/lineup/swipslineupcustom/"><strong>라인업 수동입력</strong></a></li>
            <li><a href="/admin_v2/lineup/swipsmatchdetailcustom/"><strong>매치팩트 수동입력</strong></a></li>

          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">피드백
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin_v2/feedback/swipsfeedback/"><strong>피드백</strong></a></li>

          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">피드백(NEW)
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin_v2/feedback_new/swipsqna/"><strong>피드백</strong></a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">투표/댓글
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin_v2/poll/swipsboard/"><strong>댓글</strong></a></li>
            <li><a href="/admin_v2/poll/swipspoll/"><strong>투표</strong></a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">게시판
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin_v2/board/swipsboardpost/">게시판</a></li>
            <li><a href="/admin_v2/board/swipsboardreply/">댓글</a></li>
            <li><a href="/admin_v2/board/swipsboardlike/">좋아요</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">사용자
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin_v2/user/suaccount/"><strong>계정</strong></a></li>
            <li><a href="/admin_v2/user/suaccountfollowing/"><strong>계정 팔로잉</strong></a></li>
            <li><a href="/admin_v2/user/suuserfollowing/"><strong>사용자 팔로잉</strong></a></li>
            <li><a href="/admin_v2/user/sutransaction/"><strong>트랜젝션</strong></a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">인포업데이트
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin_v2/info_update/curryinfodbmodify/"><strong>앱 DB 변경</strong></a></li>
            <li><a href="/admin_v2/info_update/curryinfoimagemodify/"><strong>이미지 변경</strong></a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">국가대표팀정보
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin_v2/national/swipsnationalteaminfowc/">국가별WC정보</a></li>
            <li><a href="/admin_v2/national/swipsnationalteaminfocompetition/">국가별대회정보</a></li>
            <li><a href="/admin_v2/national/swipsnationalcompetitioninfo/">대회이름입력</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">개발
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin_v2/development/curryadbalance/">광고밸런스</a></li>
            <li><a href="/admin_v2/development/curryrdsscalemodifier/">RDS scale Modifier</a></li>
            <li><a href="/admin_v2/development/swipspush/">Swips Push</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">댓글부대
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li> <a href="/admin_v2/expose/curryexposepostlog/"><strong>작성글 Log</strong></a></li>
            <li><a href="/admin_v2/expose/curryexposetarget/"><strong>점령지 List</strong></a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown col-xs-1">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="background-color:transparent; border-color:transparent;">기타
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin_v2/etc/country/">국가</a></li>
          </ul>
        </div>
      </li>












    </ul>
  </div>

</div>
