<div class="container">
  <!-- Modal delete following-->
  <div class="modal fade" id="del_following" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">팔로잉 삭제</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="del_following_body">
        팔로잉을 삭제합니당
      </div>
      <div class="modal-footer">
        <a type="button" id="btn_del_following" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Delete...">Save changes</a>
        <a type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</a>

      </div>
    </div>
  </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="add_following_modal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" >&times;</button>
          <h4 class="modal-title">팔로잉 수정</h4>
        </div>
        <div class="modal-body">
          <!--
          <form>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 2</label>
            </div>
            <div class="checkbox disabled">
              <label><input type="checkbox" value="" disabled>Option 3</label>
            </div>
          </form>
        -->
          <table>
            <tbody>
              <tr>
                <th>
                  <p class="text-center">선수 팔로잉  </p>
                </th>
                <th>
                  <input type="text" id="tags1" class="tag_target"></input>
                </th>
                <th>
                  <input type="text" id="tags2" class="tag_target" ></input>
                </th>
                <th>
                  <input type="text" id="tags3" class="tag_target" ></input>
                </th>
              </tr>
              <tr>
                <th>
                  <p class="text-center">팀 팔로잉  </p>
                </th>
                <th>
                  <input type="text" id="tags4" class="tag_target" ></input>
                </th>
                <th>
                  <input type="text" id="tags5" class="tag_target" ></input>
                </th>
                <th>
                  <input type="text" id="tags6" class="tag_target" ></input>
                </th>
              </tr>
              <tr>
                <th>
                  <p class="text-center">리그 팔로잉  </p>
                </th>
                <th>
                  <input type="text" id="tags7"  class="tag_target"></input>
                </th>
                <th>
                  <input type="text" id="tags8"  class="tag_target"></input>
                </th>
                <th>
                  <input type="text" id="tags9"  class="tag_target"></input>
                </th>
              </tr>
            </tbody>
          </table>


        </div>
        <div class="modal-footer">
          <spant id="following_lists"><span>
          <a class="btn btn-primary" id="btn_following_add" data-dismiss="modal">추가</a>
        </div>
      </div>

    </div>
  </div>

</div>
